name: Build Device Faker Module

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/**'
      - "Cargo.*"
      - 'device_faker_cli/**'
      - 'module/**'
      - 'webui/**'
      - '.github/workflows/build.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r29
          add-to-path: true

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: webui/package-lock.json
          
      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y gcc-multilib
          cargo install cargo-ndk --locked

      - name: Build device_faker
        run: |
          cargo run --package xtask -- build -r

      - name: Install UPX
        run: |
          sudo apt-get update
          sudo apt-get install -y upx

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: device_faker
          path: module/